@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');


.navbar{ font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 
}

.fa-search{ 
    color: purple !important;
}
.form-control:focus {
    box-shadow: none !important;
  }
  
  .form-control-underlined {
    border-width: 0 !important;
    border-bottom-width: 1px !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
  }
  
 
  .form-control::placeholder {
    font-size: 0.95rem !important;
    color: #aaa !important;
    font-style: italic !important;
  }
  .fa-bars{color: #800080 !important;}
  
  div.scrollmenu {
    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    
  }
  
  div.scrollmenu a {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
  }
  
  div.scrollmenu a:hover {
   transform: scale(1.2);
   color: purple;
  }
  div.scrollmenu:hover {
    overflow-x: auto;
     
   }

.btn-primary{
  border-color: purple !important;
  background-color: purple !important;
  border-radius: 30px !important;
  transition: 0.3s !important;
}
.btn-primary:hover{
  
  transform: scale(1.1);
}